/*import rubik*/
@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: url("../fonts/Rubik/Rubik-SemiBold.ttf");
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url("../fonts/Rubik/Rubik-Bold.ttf");
}

@font-face {
    font-family: 'Rubik-Black';
    src: url("../fonts/Rubik/Rubik-Black.ttf");
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url("../fonts/Rubik/Rubik-Italic.ttf");
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url("../fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: 'Rubik-Light';
    src: url("../fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
    font-family: 'Rubik-Thin';
    src: url("../fonts/Rubik/Rubik-Thin.ttf");
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url("../fonts/Rubik/Rubik-ExtraBold.ttf");
}


body {
    font-family: 'Rubik';
    margin: 0;
    background-color: #E0E0CE;
}


/* Point of Sales */
.pos-body {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 2fr 1.5fr;
    column-gap: 10px;
}

.sec2 {
    width: 100%;
}

.sec3 {
    display: grid;
    background-color: #E1E1D0;
    width: 100%;
}

.data {
    margin-left: 30px;
}

.panel2 {
    position: relative;
    color: white;

    background-color: #203330;
    margin-right: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.sec2 {
    background-color: #E2E2CF;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;


}

.data {
    background-color: white;
    border-radius: 12px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    align-items: center;
    padding: 30px;
    padding-top: 30px;
    transition: all 0.2s ease;


}

.data table {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
    overflow: visible;
    display: block;
    height: 75vh;

}

.pos-table {
    display: flex;
    font-size: 14px;
    text-align: right;
    align-items: center;
    justify-content: center;
}

select {
    padding: 5px;
}

.data tr {

    border-radius: 5px;
    min-width: -webkit-fill-available;
    display: table;
    border-bottom: 1px solid #ededed;

}

.data thead {
    display: table;
    width: 100%;
}

.data tbody {
    height: 65vh;
    overflow: auto;
    display: block;
}

.col {
    text-align: left;
}

.col-id {
    width: 10%;
}

.headercol {
    font-weight: 600;
    color: #182422;
    font-size: 14px;
    text-align: left;
}

.col-name {
    width: 10%;
}

.col-qty {
    width: 10%;
}

.col-cost {
    width: 10%;
    /* text-align: right; */
}

.col-quantity {
    width: 15%;
}

.col-cat {
    width: 15%;

}

.col-img {
    width: 15%;
}

.col-add {
    width: 10%;
    text-align: center;
}


input {
    box-sizing: border-box;
    height: 35px;
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #18242279;
}

form input {
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #18242279;
}

select {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #18242279;
}

form button {
    font-size: 15px;
    background-color: #182422;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

form {
    /*margin-left: 30px;*/
}


label {
    font-size: small;
    font-weight: 600;
    color: rgb(59, 59, 59);
}

.form-textbox {
    padding-left: 10px;
}


.pos-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ededed60;

}

.pos-item div {
    width: 200px;

}

.pos-item input {
    width: 40px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;

}

.proceed {

    transition: all 0.5s;
    background-color: #008f37;
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.proceed:hover {
    cursor: pointer;
    background-color: #004c25;
}

.button {
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    bottom: 20px;
}

.payment {

    position: absolute;
    top: 50%;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    border-radius: 10px;

}

.blur {

    position: absolute;
    visibility: hidden;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.302);
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);


}

.open-popup {
    visibility: visible;


}

.paybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008f37;
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}


/* End of Point of Sales */

/* Inventory Page */

/*.inventory-body {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/* .inventory-data { */
/*    background-color: white;*/
/*    width: 80% !important;*/
/*    border-radius: 12px;*/
/*    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.05);*/
/*    margin-bottom: 20px;*/
/*    padding: 30px;*/
/*    padding-top: 30px;*/
/*    transition: all 0.2s ease;*/
/* } */

/*.inventory-data table {*/
/*    box-sizing: border-box;*/
/*    text-align: left;*/
/*    width: 100%;*/
/*    border-collapse: separate;*/
/*    border-spacing: 0px 15px;*/
/*    overflow: visible;*/
/*    display: block;*/
/*}*/

/*.inventory-data tr {*/

/*    border-radius: 5px;*/
/*    min-width: -webkit-fill-available;*/
/*    display: table;*/
/*    border-bottom: 1px solid #ededed;*/

/*}*/

/*.inventory-data thead {*/
/*    display: table;*/
/*    width: 100%;*/
/*}*/

/*.inventory-data tbody {*/
/*    height: 65vh;*/
/*    overflow: auto;*/
/*    display: block;*/
/*}*/

/*.inventory-body .sec2 {*/
/*    width: 100%;*/
/*    height: 90vh;*/
/*    justify-items: center;*/
/*    align-items: center;*/
/*}*/

/*.inventory-data .col-id{*/
/*    width: 15%;*/
/*}*/
/*.inventory-data .col-name{*/
/*    width: 20%;*/
/*}*/


/*#supplier-incoming td:nth-child(1) {*/
/*    width: 15%;*/
/*}*/

/*#supplier-incoming td:nth-child(2) {*/
/*    width: 20%;*/
/*}*/

/*#supplier-incoming td:nth-child(3) {*/
/*    width: 15%;*/
/*}*/

/*#supplier-incoming td:nth-child(4) {*/
/*    width: 15%;*/
/*}*/

/*#supplier-incoming td:nth-child(5) {*/
/*    width: 15%;*/
/*}*/


.order-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    height: 90vh;
    width: 40%;
}

.order-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 75vh;
    overflow-y: scroll;
    margin-top: 10px;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.order-list-item {
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    /*justify-content: space-between;*/
    align-items: flex-start;
    padding: 20px 20px;
    border: 1px solid rgba(70, 70, 70, 0.38);
    background-color: white;
    height: 100px;
    border-radius: 10px;
}

.inventory-body .sec2 {
    display: flex;
    justify-content: center;
}


.supply-order-detail {
    display: flex;
    width: 60%;
    height: 90%;
    justify-content: center;
    align-items: center;

}

.detail-box {
    margin-top: 50px;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(70, 70, 70, 0.38);
    padding: 40px;
    width: 80%;
    background-color: white;
}

.order-list-item {
    cursor: pointer;
    display: grid;
    height: 100px;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;


}

.order-list-item.selected {
    border: 5px solid #3a87ad;
    outline: 5px solid #3a87ad; /* Add outline style */
    outline-offset: -5px; /* Adjust outline distance from the element */
}

.detail-box table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.detail-box table tr td, th {
    text-align: left;
    padding: 10px;
    /*font-size: 18px;*/
    font-weight: 500;
}

.detail-box table th {
    border: 1px solid #ddd;
}

.detail-box table tr th {
    font-weight: 600;
    /*font-size: 20px;*/
}

.detail-box tr:nth-child(even) {
    background-color: #f2f2f2;
}


.date-overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.hidden-section {
    display: none !important;
}

.active-section {
    font-family: 'Rubik-Medium';
    color: black !important;
    font-weight: bolder;
}

.date-overlay {
    border: 2px solid #939393;
    color: black;
    left: 0px;
    top: 50px;
    z-index: 99;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(123, 123, 123);
    background-color: rgb(255, 255, 255);
}

.date-overlay input[type="date"] {
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(151, 151, 151);

}

.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown-content2 {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content2 a,
.dropdown-content2 button {
    display: block;
    padding: 10px;
}

.dropdown-content2 a:hover {
    background-color: #f1f1f1;
}

.show {
    display: flex;
    justify-content: space-evenly;
}

#dropdown-icon {
    transition: all 0.2s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.date-range {
    height: 40px;
    width: 250px;
    padding: 10px;
}

.date-range {
    margin: 0;
    display: flex;
    height: 35px;
    width: 300px;
    background-color: white;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}


.detail-box .response-box {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;

}

.detail-box .response-box button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid rgba(70, 70, 70, 0.38);
    border-radius: 10px;
    padding: 20px;
}

.detail-box .response-box #accept {
    background-color: #008503;
    color: white;
    cursor: pointer;
}

.detail-box .response-box #reject {
    background-color: #d8000c;
    color: white;
    cursor: pointer;
}

.detail-box .response-box #accept:hover {
    background-color: #006e03;
}

.detail-box .response-box #reject:hover {
    background-color: #a8000c;
}

.detail-box .response-box #accept:active {
    background-color: #005e03;
}

.detail-box .response-box #reject:active {
    background-color: #90000c;
}

.order-list-item {
    position: sticky;
}

.order-list-item h4 span {
    display: inline;
}

.order-list-item .date,
.order-list-item .quantity {
    color: #4d4d4d;
}

.order-list-item .date {
    margin-top: 10px;
}

.order-list-item .status {
    color: #414141;
    background-color: #a6a6a6;
    padding: 5px 10px;
    border-radius: 5px;
}

.img-thumbnail {
    /*image size cover*/
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.confirmation {
    position: fixed;
    padding: 20px 30px;
    background-color: white;
    width: 40%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

.confirmation-buttons {
    display: flex;
    float: right;
    width: 20%;
    column-gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.confirmation-box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.confirmation-box-header span:hover{
    cursor: pointer;
}

.confirmation-buttons button {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #4d4d4d;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bg-dark {
    backdrop-filter: brightness(0.75);
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.skel{
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 2.5px;
    width: 20px;
    height: 35px;
    margin-bottom: 20px;
}


#company-order-table{
    width: 100%;
    /* border-collapse: collapse; */
    /* border: 1px solid #ddd; */
}

#company-order-table tr td, th {
    text-align: left;
    /* padding: 10px; */
    /*font-size: 18px;*/
    font-weight: 500;
    padding: 0;
    text-align: center;
}

/* nth child width */
#company-order-table tr th:nth-child(1),td:nth-child(1) {
    width: 5%;
}

#company-order-table tr th:nth-child(2),td:nth-child(2) {
    width: 5%;
}

#company-order-table tr th:nth-child(3),td:nth-child(3) {
    width: 15%;
}

#company-order-table tr th:nth-child(4),td:nth-child(4) {
    width: 5%;
}

#company-order-table tr th:nth-child(5),td:nth-child(5) {
    width: 15%;
}

#company-order-table tr th:nth-child(6),td:nth-child(6) {
    width: 5%;
}

#company-order-table tr th:nth-child(7),td:nth-child(7) {
    width: 15%;
}

#company-order-table tr:nth-child(even) {
    background-color:#eeeeee;
}

.table-actions{
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.table-actions button{
    padding: 10px 10px;
    border-radius: 8px;
    border: 0px solid #4d4d4d;
    background:none;
    font-size: 13px;
;
}
.table-actions button{
    font-weight: 500;

    color: rgb(0, 94, 255);
}


.table-actions button:hover{
    cursor: pointer;
}

.table-actions button:active{
    background-color: #00b7ff;
    color: white;
}