@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: url("../fonts/Rubik/Rubik-SemiBold.ttf");
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url("../fonts/Rubik/Rubik-Bold.ttf");
}

@font-face {
    font-family: 'Rubik-Black';
    src: url("../fonts/Rubik/Rubik-Black.ttf");
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url("../fonts/Rubik/Rubik-Italic.ttf");
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url("../fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: 'Rubik-Light';
    src: url("../fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
    font-family: 'Rubik-Thin';
    src: url("../fonts/Rubik/Rubik-Thin.ttf");
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url("../fonts/Rubik/Rubik-ExtraBold.ttf");
}

/* Login Page for Designer and Driver*/
body{
    font-family: 'Rubik' !important;
}
.bdy{
    margin: 0px;
    padding: 0px;
    background-image: url("../images/login3/loginBackground.png") ;
    background-attachment: fixed;
    background-size: cover;
}

.login3-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.login3-logo-img{
    width: 7%;
    height: 5%;
    border-radius: 50%;
    filter:drop-shadow(0px 0px 5px #100F0F);
}

.login3-logo-name{
    margin-left: 10px;
    color: #f9f9f9;
    filter:drop-shadow(0px 0px 5px #100F0F);
    font-family: 'Rubik';
    font-size: 1.8vw;
}

.login3-form{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(101, 102, 114, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 05px;
}

.login3-form img{
    width: 60%;
    height: 50%;
}

.login3-inputBox1 input{
    /*display: block;*/
    width: 100%;
    padding-left: 10px;
    height: 44px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Rubik';
}

.login3-inputBox2 {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    background: white;
    align-items: center;
}

.login3-inputBox2 input{
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 44px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Rubik';

}
.login3-inputBox2 img{
    width: 30px;
    cursor: pointer;
    padding-right: 5px;
}

.txt{
    margin: 20px 0px;
    border-radius: 5px;
}

.btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 40px;
    width: 280px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.btn:hover{
    transform: scale(0.96);
}

.login3-form a{
    text-decoration: none;
    color: greenyellow;
    font-family: 'Rubik';
    padding: 10px;
    transition: 0.5s;
    display: block;
}

.signup-form a:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.error-txt{
    position: relative;
    margin-top: 10px;
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

.close-error {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.signup-error {
    text-align: left;
    font-size: 12px;
    padding: 0 10px;
}

/*DriverModel dashboard, Designer dashboard and sidebars*/
.driver, .designer{
    height: 100vh;
    margin: 0;
    background-color: #E2E2CF;
}

.driver-body, .designer-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #203330;

}

.dashboard{
    width: 80%;
}

.dashboard-nav {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
}

.nav-item-user img{
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 3px #100F0F);
    border-radius: 50%;
}

.nav-item-page-name h1{
    font-family: 'Rubik-SemiBold';
    font-size: 1.2vw;
}

.nav-item-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item-user h1{
    font-family: 'Rubik-SemiBold';
    font-size: 1.2vw;
}

.nav-item-user a{
    text-decoration: none;
    color: inherit;
}

.nav-vr{
    border-left: 2px solid black;
    height: 30px;
    margin: 0 10px;
}

.dashboard-body{
    padding: 30px 15px 0;
    display: flex;
}


/*driver dashboard*/

.select-available{
    padding: 8px 12px;
    color: black;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Rubik-SemiBold';
    position: absolute;
    right: 380px;
    top: 20px;
}

.select-available:focus,
.select-available:hover{
    outline: none;
    border: 1px solid #bbbbbb;
}

.select-available option{
    background: #f9f9f9;
    font-weight: bold;
    border-radius: 0px;
    font-family: 'Rubik-SemiBold';
}

.vehicle-form {
    display: flex;
    height: 35px;
    position: absolute;
    right: 580px;
    top: 20px;
}

.vehicle-form input{
    border: 2px solid #d2d2d2;
    font-family: 'Rubik-SemiBold', sans-serif;
    width: 20em;
    border-radius: 3px;
    padding: 0 0 0 1em;
}

.vehicle-form select{
    width: 15em;
    border: 2px solid #d2d2d2;
    border-radius: 3px;
    background-color: #f9f9f9;
    font-size: 1rem;
    padding: 0 0 0 1em;
    font-family: 'Rubik-SemiBold', sans-serif;
    color: #787878;
    cursor: pointer;
}

.vehicle-form button{
    border: 2px solid #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: #f9f9f9;
    right: 320px;
    top: 20px;
}

.vehicle-form img{
    width: 15px;
}

.driver-tbox{
    width: 30%;
    height: 410px;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: #f9f9f9;
    border-radius: 20px;
    font-family: 'Rubik-SemiBold';
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    float: right;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;/* added */
}

.driver-tbox::-webkit-scrollbar{
    display: none;
}

.driver-tbox hr{
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #cacaca;
}

.driver-tbox p{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 1rem;
    font-family: 'Rubik-SemiBold';
    cursor: pointer;
    text-underline-mode: none;
}

.driver-tbox p a{
    text-decoration: none;
}

.driver-tbox table{
    width: 100%;
    border-collapse: collapse;
}

.driver-content-table{
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 70vh;
}

.driver-content-table thead tr{
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: 1px solid #d2d2d2;

}

.driver-content-table th,
.driver-content-table td{
    text-align: center;
    font-size: 1rem;
}

.driver-content-table tbody tr td{
    padding-bottom: 1em;
}

.driver-content-table tbody tr{
    font-family: 'Rubik';
    word-break: break-all;
}

.orders-table-rows{
    font-family: 'Rubik';
}

.orders-table-rows img{
    width: 4.5em;
    height: 4.5em;
    object-fit: cover;
    border-radius: 5px;
}

.orders-table-rows td{
    text-align: center;
    padding: 1em 0 0 0 ;
    vertical-align: middle;
}

/* Designer Dashboard*/
.designer-tbox{
    width: 55%;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: #f9f9f9;
    border-radius: 20px;
    font-family: 'Rubik';
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    float: right;
}

.designer-tbox table{
    width: 100%;
    border-collapse: collapse;
}

.designer-content-table{
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 70vh;
    cursor: pointer;

}

.designer-content-table:hover{
    transform: scale(1.05);
    transition: .4s ease-in;
}

.designer-content-table thead tr{
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: 1px solid #d2d2d2;

}

.designer-content-table th,
.designer-content-table td{
    text-align: center;

}

.designer-content-table tbody tr{
    font-family: 'Rubik';
    word-break: break-all;
}

.designs-table-rows{
    font-family: 'Rubik';
}

.designs-table-rows img{
    width: 4.5em;
    height: 4.5em;
    object-fit: cover;
    border-radius: 5px;
}

.designs-table-rows td{
    text-align: center;
    padding: 1em 0 0 0 ;
    vertical-align: middle;
}


/*Driver profile page*/
.driver-profile-card{
    width: 50%;
    height: 590px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik';
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    padding: 1em 0;
    /*padding: 3px;*/
}

.driver-profile-card hr{
    width: 95%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid black;
}

.driver-pro-img-sec{
    padding: .5em 0;
}

.driver-pro-img-sec img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px #100F0F);
}

.driver-pro-img-sec h1{
    font-size: 1.8rem;
    margin: 0;
}

.driver-pro-info table{
    margin-left: auto;
    margin-right: auto;
}

.driver-pro-info th,.driver-pro-info td{
    text-align: left;
    padding-top: .8em;
}

.driver-pro-info th{
    padding-right: 6em;
}

.driver-popup{
    width:35%;
    top: 5%;
}


/*Designer profile page*/
.designer-profile-card{
    width: 50%;
    height: 590px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik';
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    padding: 1em 0;
}

.designer-profile-card hr{
    width: 95%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid black;
}

.designer-pro-img-sec{
    padding: .5em 0;
}

.designer-pro-img-sec img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px #100F0F);
}

.designer-pro-img-sec h1{
    font-size: 1.8rem;
    margin: 0;
}

.designer-pro-info table{
    margin-left: auto;
    margin-right: auto;
}

.designer-pro-info th,.designer-pro-info td{
    text-align: left;
    padding-top: .8em;
}

.designer-pro-info th{
    padding-right: 6em;
}

.designer-popup{
    width:35%;
    top: 5%;
}


/* profile edit page */

.edit-cus-pro-btn-sec{
    text-align: center;
}

.edit-cus-pro-btn-sec button{
    width: 200px;
    height: 50px;
    border: solid 2px #e2dcc8;
    border-radius: 7px;
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 1vw;
    background-color: #100F0F;
    color: #ffffff;
    margin: 20px 0;
    cursor: pointer;
}

.popup{
    width: 30%;
    background: #f9f9f9;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding:0 30px 30px;
    visibility: hidden;
    transition: transform 0.5s ease;
}

.popup h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background: #100F0F;
    color: #f9f9f9;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.popup-heading img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.edit-cus-field{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0;
}

.edit-cus-field input{
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 0.8vw;
    background: #d4d4d4;
    padding-left: 1.7em;
}

.edit-cus-field select{
    height: 35px;
    font-size: .8vw;
    background: #d4d4d4;
}

.name-field {
    display: flex;
    justify-content: space-between;
}

.first-name, .last-name{
    width: 48%;
}

.image-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.image-field img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px black);
}

.image-field label input{
    display: none;
}

.image-field label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background: #100F0F;
    border-radius: 10px;
    color: #f9f9f9;
    cursor: pointer;
}


/* Order table page */

.tbox{

    width: 85%;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: #f9f9f9;
    border-radius: 20px;
    font-family: 'Rubik-SemiBold';
    max-height: 80vh;
    height: 80vh;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
}

.orders_view_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-top: 2px solid #d2d2d2;*/
    padding: 1em 0;
}

.orders_view_header h1{
    margin: 0;
}

.order-form {
    display: flex;
    height: 30px;
}

.order-form input{
    border: 2px solid #d2d2d2;
    font-family: 'Rubik-SemiBold', sans-serif;
    width: 20em;
    border-radius: 3px;
    padding: 0 0 0 1em;
}

.order-form select{
    width: 15em;
    border: 2px solid #d2d2d2;
    border-radius: 3px;
    background-color: #f9f9f9;
    font-size: 1rem;
    padding: 0 0 0 1em;
    font-family: 'Rubik-SemiBold', sans-serif;
    color: #787878;
    cursor: pointer;
}

.order-form button{
    border: 2px solid #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: #f9f9f9;
    right: 320px;
    top: 20px;
}

.order-form img{
    width: 15px;
}

.tab_box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d2d2d2;
    position: relative;
    /*margin: 1em 0;*/
}

.tab_box .tab_btn{
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.tab_btn.active {
    font-weight: bold;
}

.tab_box .line{
    height: 4px;
    width: 100px;
    background-color: #203330;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
}

.order-details-tbl {
    display: flex;
    overflow-y: auto;
    max-height: 60vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.order-details-tbl::-webkit-scrollbar {
    display: none;
}

.tbox table{
    width: 100%;
    border-collapse: collapse;
}

.content-table{
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    overflow-y: auto;
    max-height: 60vh;
    font-family: 'Rubik', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-table thead tr{
    color: black;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #d2d2d2;
}

.content-table tbody tr td:first-child{
    width: 20%;
    word-break: break-all;
}

.content-table tbody tr td img{
    cursor: pointer;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr{
    font-family: 'Rubik';
}

.select{
    padding: 8px 12px;
    color: #dddddd;
    background-color: #203330;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.select:focus,
.select:hover{
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option{
    background: #262626;
}

.order-btn-sec{
    text-align: center;
}

.order-btn-sec button{
    width: 75px;
    height: 30px;
    margin: 0;
    border: solid 2px #e2dcc8;
    border-radius: 7px;
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 0.8vw;
    background-color: #100F0F;
    color: #ffffff;
    margin: 20px 0;
    cursor: pointer;
}

.filterDate input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.filterDate label {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.filterDate button {
    background-color: #203330;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
/* Order Details View */

#popups{
    width: 60%;
    margin: 1em auto;
    padding: 1em 2em;
    top: 5%;
    left: 20%;
    background-color: #f9f9f9;
    border-radius: 20px;
    font-family: 'Rubik-SemiBold';
    max-height: 80vh;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-collapse: collapse;
    visibility: hidden;
}

#popups::-webkit-scrollbar {
    display: none;
}

.popups-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.popups-heading h2{
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
    margin:0;
}

.popups-heading img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.popups table{
    width: 100%;
    border-collapse: collapse;
}

.details-table{
    margin: 0;
    width: 100%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 70vh;

}

.details-table thead tr{
    color: black;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #d2d2d2;
}


.details-table tbody tr td{
    width: 20%;
    word-break: break-word;
}

.details-table th,
.details-table td{
    padding: 10px 15px;
    text-align: center;
}

.details-table td img{
    width: 350px;
    height: 200px;
}

.details-table tbody tr{
    font-family: 'Rubik';
}

/* Driver Availability */

.sbtn
{
    cursor: pointer;
    position: relative;
    width: 230px;
    height: 60px;
    background:#007148;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid #ffffff;
    border-left: 0.5px solid #ffffff;
    padding-left: 55px;
    transition: 1s;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 5px;
}

.sbtn:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255, 255, 255, 1);
}

.sbtn span{
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: 	#32CD32;
    border-radius: 50%;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 1.5em;
}

.sbtn:hover span{
    left: calc(100% - 55px);
}

.sbtn:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateX(-170px) skewX(30deg);
    transition: 1s ease-in-out;
}

.sbtn:hover:after{
    transform: translateX(170px)skewX(30deg);
}

#swipe{
    height: 70%;
    width: 70%;
}


/* Chart Driver */

.containers{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box{
    margin: 20px;
    width: 30%;
    height: auto;
    box-sizing: border-box;

}
#chart-container {
    /*width: 300px;*/
    /*height: auto;*/
    width: 400px;
    height: 410px;
    float: right;
    background-color:#f9f9f9;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}
#chart-container:hover {
    transform: scale(1.05);
    transition: .4s ease-in;
}

#chart-container2{
    /*width: 500px;*/
    height: 410px;
    float: left;
    background-color:#f9f9f9;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#chart-container2:hover {
    transform: scale(1.05);
    transition: .4s ease-in;
}

#chart-container3{
    /*width: 500px;*/
    height: auto;
    float: left;
    /*background-color:#E0E0CE;*/
    background-color:#f9f9f9;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#chart-container3:hover {
    transform: scale(1.05);
    transition: .4s ease-in;
}

@media screen and (max-width: 1200px){
    .box{
        width: 40%;
    }
}
@media screen and (max-width: 600px){
    .box{
        width: 90%;
    }
}

/* Chart Designer */

.containers-designer-chart{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.designer-box{
    margin: 20px;
    width: 33%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    cursor: pointer;
}

#chart-designer-container{
    height: auto;
    float: left;
    background-color:#f9f9f9;
    margin: 20px;
    border-radius: 10px;
}

#chart-designer-container:hover {
    transform: scale(1.05);
    transition: .4s ease-in;
}

@media screen and (max-width: 1200px){
    .box{
        width: 40%;
    }
}
@media screen and (max-width: 600px){
    .box{
        width: 90%;
    }
}


/* Designer-Add New Designs Page*/

.des-form-body{
    width: 70%;
    background-color: #f9f9f9;
    margin: 1em auto;
    padding: 1em 1.5em;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    max-height: 80vh;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);

}

.des-form-body h1{
    margin: 0;
    border-bottom: #cacaca 2px solid;
}

.add-des-form{
    padding: 1em 0;
    max-height: 70vh;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.add-des-form::-webkit-scrollbar {
    display: none;
}

.des-img-upload-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#designImage{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 15px;
    display: flex;
    /*height: 5%;*/
    padding-top: 5px;
    justify-content: center;
    padding-bottom: 10px;
}

#designPdf{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 15px;
    display: flex;
    margin: 10px;
    padding-top: 5px;
    justify-content: center;
    padding-bottom: 10px;
}

.designImage{
    height: 100%;
    width: 90%;
    justify-content: center;
    padding-bottom: 10px;
}

.designImage p{
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    /*font-weight: bold;*/
    /*padding-left: 70px;*/
    justify-content: center;
}

#images{
    width: 100%;
    margin: auto;
    /*position: relative;*/
    display: flex;
    object-fit: cover;
    justify-content: center;
    /*flex-wrap: wrap;*/
    flex-direction: row;
}

.designImage img{
    width: 10em;
    height: 7em;
    border-radius: 10px;
    max-height: 210px;
    max-width: 210px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.designImage img:nth-child(2) {
    margin: 0 .5em;
}

.des_Name{
    margin: auto;
    height: 25%;
    width: 55%;
    padding-top: 20px;
}

.des_Name label{
    font-weight: bold;
    /*margin-right: 0.5em;*/
}

.des_Name select{
    width: 20em;
    border: 2px solid #d2d2d2;
    border-radius: 3px;
    background-color: #f9f9f9;
    font-size: 1rem;
    padding: 0 0 0 1em;
    font-family: 'Rubik-SemiBold', sans-serif;
    color: #787878;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 5px;
}

.des_Name input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    padding:0 10px;
    margin-top: 0px;
}

figure{
    width: 25%;
}

img{
    width: 100%;
}

figcaption{
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
    object-fit: cover;
    width: 100%;
}

.but-img-upload-container{
    margin: auto;
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-des-Ubtn-section{
    height: 2.8em;
    width: 27%;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    font-family: 'Rubik-SemiBold';
    font-size: 1.1rem;
    background: #104f4a;
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.edit-des-Ubtn-section label{
    cursor: pointer;
}
.edit-des-Ubtn-section:hover{
    transform: scale(0.97);
}

.edit-des-Dbtn-section{
    height: 2.8em;
    width: 40%;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    font-family: 'Rubik-SemiBold';
    justify-content: center;
    font-size: 1.1rem;
    background: #721c24;
    border-radius: 7px;
    align-items: center;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.edit-des-Dbtn-section label{
    cursor: pointer;
}
.edit-des-Dbtn-section:hover{
    transform: scale(0.97);
}

#description{
    margin: auto;
    height: 25%;
    width: 55%;
}
#description label{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
}

#description textarea{
    border: 1px solid #ccc;
    height: 8em;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
}

.add-des-btn{
    height: 20%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.add-des-btn button{
    width: 160px;
    height: 50px;
    border: solid 2px #e2dcc8;
    border-radius: 7px;
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 1vw;
    background-color: #100F0F;
    color: #ffffff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

}

.add-des-btn button:hover{
    transform: scale(0.97);
}


/*Back Button */
.go-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Rubik';
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.go-back img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.default-img{
    display: none;
}


/* Footer */
.footer{
    background-color: #0F3D3E;
    color: #e2dcc8;
    font-family: 'Rubik';
    padding: 1%;
}

.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.footer-rights{
    text-align: center;
}

.footer-rights h2{
    margin: 0;
}

/*Designs Page*/

.des_category-body{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #E0E0CE;
    padding:0;
    border-radius: 10px;
    margin-left: 5px;
    height: 580px;

}

.des_category-body h1 {
    font-family: 'Rubik';
    font-size: 3rem;
    font-weight: bolder;
    /*text-shadow: 2px 2px #007148;*/
    margin: 0;
    padding: 0;

}

.des_categories{
    width: 90%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2em;
}

.des_categories a{
    text-decoration: none;
    color: #100F0F;
    font-weight: bolder;
}

.des_category-card{
    width: 250px;
    height: 280px;
    background-color: #f9f9f9;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    margin: 0 2em 2em 2em;
    border-radius: 10px;
    /*padding-bottom: 10px;*/
}

.des_category-card:hover {
    transform: scale(1.05);
    transition: .4s ease-in;
}

.des_category-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.des_category-card p{
    margin: 0;
    padding-left: 50px;

}

.pagination ul{
    display: flex;
    list-style: none;
    justify-content: center;
    font-family: 'Rubik-SemiBold', sans-serif;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 2em;
    /*background-color: #f9f9f9;*/
    border: solid 2px #0F3D3E;
}

.pagination li:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.pagination-active{
    background-color: #0F3D3E;
}

.pagination-link{
    text-decoration: none;
    color: #0F3D3E;
}

.pagination-link-active{
    text-decoration: none;
    color: #f9f9f9;
}

.pagination li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Design Card full description view*/

.design-view {
    background-color: #E2E2CF;
    font-family: 'Rubik';
    padding: 2em 0;
    display: flex;
    flex-direction: row;
}

.design-desc-section {
    margin: 0 auto;
    width: 90%;
    display: flex;
    max-height: 540px;
    flex-direction: row;
}

.design-img{
    width: 55%;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
}

.my-slides{
    display: none;
    width: 100%;
    height: 100%;
}

.my-slides img {
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 540px;
    object-fit: cover;
    top: -23px;
    border-radius: 7px;
}

.design-slide-show-container{
    width: 100%;
    position: relative;
    margin: auto;
}

.number-text{
    position: relative;
    top: 25px;
    left: 20px;
    z-index: 1;
    font-weight: bolder;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #898989;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover , .next:hover{
    background-color: #100F0F;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.design-desc {
    margin-left: 1%;
    width: 45%;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
    padding: 10px 30px;
}

.design-desc div{
    height: 90px;
}

.design-detail table{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    align-self: center;
    margin-top: 20px;
    width: 100%;

}

.design-detail th,.design-detail td{
    text-align: left;
    /*border: 1px solid black;*/
    background: #f9f9f9;
    /*border-radius: 3px;*/
    padding-top: .8em;
    padding-bottom: .8em;
}

.design-detail th{
    padding-right: 3em;
    width:38%;
}

.design-detail td{
    /*font-family: 'Rubik';*/
    word-break: break-word;
    padding-bottom: 5px;
    width:62%;
}

.design-desc div button{
    width: 70%;
    height: 2.5rem;
    font-family: 'Rubik-SemiBold';
    font-size: 1.2rem;
    background-color: #2b7358;
    border-radius: 5px;
    color: #f9f9f9;
    border: solid 2px black;
    transition: 0.5s ease;
    margin-top: 3em;
}

design-desc div button:hover{
    transform: scale(1.02);
    height: 2.6rem;
    transition: 0.5s ease;
}

.design-desc a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 960px) {
    .design-desc-section{
        flex-direction: column;
        max-height: unset;
    }

    .design-img,.design-desc{
        margin: 0 auto;
        width: 80%;
    }

    .design-desc{
        width: 70%;
    }

    .design-img{
        flex-direction: column;
    }

    .design-img img{
        width: 100%;
        margin: 0 0 1% 0;
        max-height: 500px;
    }

    .design-sub-img{
        flex-direction: row;
    }

    .design-sub-img img{
        width: 49.2%;
    }
    .design-sub-img img:first-child{
        margin-right: 1%;
    }
}

.add-des-bar{
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.design-btns{
    display: flex;
    padding-top: 8px;
    justify-content: space-around;
    margin-right: 150px;
}

.design-btns button{
    border-radius: 6px;
    border: unset;
    font-family: 'Rubik';
    font-weight: bold;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.design-btns input{
    border-radius: 6px;
    border: unset;
    font-family: 'Rubik';
    font-weight: bold;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.design-btns input:last-child{
    background: #E64848;
    width: 70px;
    height: 40px;
}

.design-btns button:first-child{
    background: #5ba49e;
    width: 70px;
    height: 40px;
    float: left;
}

.design-btns button:last-child{
    background: #E64848;
    width: 70px;
    height: 40px;
}

/* Chat */

.chat{
    display: flex;
    width: 100%;
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5 );
}

.chats{
    background-color: #0F3D3E;
    width: 30%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 88vh;
}

.chat-contact{
    background-color: #c2d2d0;
    width: 70%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.chats h1{
    color: #f9f9f9;
    margin-left: 1em;
}

.chats input{

    height: 2.5em;
    border: none;
    border-radius: 5px;
    width: 90%;
    padding-left: .5em;
}

.chats-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.chats form button {
    height: 34px;
    width: 34px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: .5em;
}

.chats form button img{
    width: 20px;
    height: 20px;
}

.chat-owner-details{
    display: flex;
    margin: 1em;
}

.chat-owner-details img{
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
}

.chat-owner-details h2, .chat-owner-details h3{
    margin: 0;
    padding-left: .5em;
    color: #f9f9f9;
    font-weight: lighter;
}

.chat-owner-details h3{
    margin-left: .5em;
}

.contacts{
    margin: 1em;
    max-height: 65vh;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.contact{
    display: flex;
    align-items: center;
    background-color: #c2d2d0;
    padding: .3em 1em;
    border-radius: 10px;
    margin-top: .4em;
    cursor: pointer;
}

.contact img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    opacity: 100%;
}

.contact-latest{
    margin-left: .5em;
    width: 100%;
}

.contact-latest div:first-child{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-latest div:first-child h3{
    font-size: 1rem;
    font-weight: bold;
}

.contact-latest div:nth-child(2){
    display: flex;
    justify-content: space-between;
}

.contact-latest div:nth-child(2) span{
    width: 1.5em;
    height: 1.5em;
    background-color: #65a299;
    border-radius: 50%;
    text-align: center;
}

.chat-msg-header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.chat-msg-header img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1em;
}

.chat-messages{
    margin: 1em;
}

.send-msg{
    margin-top: 1em;
}

#chat-designer-form{
    visibility: hidden;
}

.send-msg form div{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
}

.send-msg input{
    border: none;
    border-radius: 10px;
    padding-left: 1em;
    width: 95%;
    height: 3em;
}

.send-msg button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.send-msg button img{
    width: 3.5em;
}

.chat-msg-container {
    margin-top: .3em;
    height: 67vh;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.chat-msg-container::-webkit-scrollbar{
    display: none;
}

.sending, .incoming{
    margin: .5em;
    padding: .5em;
}

.sending p:last-child,.incoming p:last-child{
    text-align: right;
    font-size: .8rem;
    padding-right: .5em;
}

.sending{
    max-width: 45%;
    margin-left: 55%;
    background-color: #ffffff;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: justify;
}

.incoming{
    max-width: 45%;
    background-color: #e5f4f4;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    text-align: justify;
}

#select-contact{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    visibility: visible;
}

/*Edit sub category*/

#upl-doc{
    width: 40%;
    position: absolute;
    top: 5%;
    left: 30%;
    padding: 2em;
    border-radius: 15px;
    background-color: #f9f9f9;
    visibility: hidden;
}

#upl-doc h2{
    margin: 0;
    border-bottom: #d4d4d4 2px solid;
}

#upl-doc form{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.upload-document form{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.doc-img{
    width: 30%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doc-img img{
    width: 11em;
    height: 13em;
    border-radius: 10px;
}

.doc-img label input{
    display: none;
}

.doc-img label{
    width: 5em;
    margin-top: 1em;
    padding: .5em;
    text-align: center;
    background-color: #100F0F;
    color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
}

.edit-doc-header{
    display: flex;
}

.doc-inputs{
    width: 65%;
    height: 100%;
    padding: 1em;
    margin: auto 0;
}

.doc-form-field{
    margin: .3em;
}

.doc-form-field p{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    word-break: break-all;
}

.close-btn{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

#doc-field{
    padding-left: .5em;
    margin: 0;
}

.doc-form-field{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1em;
}

.doc-form-field label{
    font-size: .9rem;
    margin: .5em 0
}

.doc-form-field textarea{
    border: 2px #d4d4d4 solid;
    height: 3.8em;
    border-radius: 5px;
}

.submit-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-btn button{
    margin-top: 1.5em;
    height: 2.5em;
    width: 35%;
    font-size: 1.1rem;
    border: none;
    color: #f9f9f9;
    background-color: #0F3D3E;
    border-radius: 10px;
    cursor: pointer;
}

.cat-response{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
}

.cat-success{
    background-color: #17c330;
    color: #f9f9f9;
    padding: 1em;
    border-radius: 7px;
    text-align: center;
}

.cat-errors{
    background-color: #e6b2b2;
    color: #940b0b;
    padding: 1em 2em;
    border-radius: 7px;
}

/*Update Design*/

#upl-docs{
    width: 60%;
    position: absolute;
    top: 5%;
    left: 20%;
    padding: 2em;
    border-radius: 15px;
    background-color: #f9f9f9;
    visibility: hidden;
}

#upl-docs h2{
    margin: 0;
    border-bottom: #d4d4d4 2px solid;
}

.edit-des-Ubtn-section-update{
    height: 2.8em;
    width: 40%;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    font-family: 'Rubik-SemiBold';
    font-size: 1.1rem;
    background: #104f4a;
    justify-content: center;
    border-radius: 7px;
    align-items: center;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.edit-des-Ubtn-section-update label{
    cursor: pointer;
}
.edit-des-Ubtn-section-update:hover{
    transform: scale(0.97);
}

/*Category Page*/

.category-body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #E0E0CE;
    padding: 0;
    height: 580px;
}

.category-body h1 {
    font-family: 'Rubik-SemiBold', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.categories {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2em;

}

.categories a {
    text-decoration: none;
    color: #100F0F;
    font-weight: bolder;
}

.category-card {
    width: 160px;
    height: 200px;
    background-color: #f9f9f9;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    margin: 0 2em 2em 2em;
    border-radius: 10px;
}

.category-card:hover {
    transform: scale(1.05);
    transition: .4s ease-in;
}

.category-card img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.category-card p {
    margin: 0;
    padding-left: 40px;
}


