body {
    font-family: 'Rubik';
    margin: 0;
    background-color: #E0E0CE;
}

/* Point of Sales */
.pos-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 10px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}

.sec2 {
    /* width: 100%; */
}

.sec3 {
    display: grid;
    background-color: #E1E1D0;
    width: 100%;
}

.data {
    /* margin-left: 30px; */
}

.panel2 {display: flex;height: 100vh;position: relative;background-color: #203330;width: 100%;color: rgb(255, 255, 255);padding: 30px;padding-top: 20px;padding-left: 20px;/* padding-bottom: 100px; */padding-right: 20px;box-sizing: border-box;flex-direction: column;justify-content: space-between;}

.panel2 a {
    color: #ff9393;
    text-decoration: none;
    font-weight: bold;
}

.sec2 {
    background-color: #E2E2CF;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
}

.data {
    /* height: 90%; */
    /* width: 80%; */
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.05);
    /* margin-bottom: 20px; */
    align-items: center;
    padding: 20px;
    /* padding-top: 30px; */
    transition: all 0.2s ease;
}

.pos-inventory {
    width: 50%;
}

.data table {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
    /* overflow: visible; */
    display: block;
    height: 75vh;
}

.pos-table {
    display: flex;
    font-size: 14px;
    text-align: right;
    align-items: center;
    justify-content: center;
}

select {
    padding: 5px;
}

.data tr {
    border-radius: 5px;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    display: table;
    border-bottom: 1px solid #ededed;
}

.data thead {
    display: table;
    width: 100%;
}

.data tbody {
    height: 100%;
    overflow: auto;
    display: block;
}

.col {
    text-align: left;
}

.col-id {
    width: 10%;
}

.headercol {
    font-weight: 600;
    color: #182422;
    font-size: 14px;
    text-align: left;
}

.col-name {
    width: 10%;
}

.col-qty {
    width: 10%;

}

.col-cost {
    text-align: left;
    width: 15%;
    /* text-align: center; */
}

.col-quantity {
    text-align: center;
    width: 15%;
}

.col-cat {
    width: 15%;
    text-align:  center;
}

.col-img {
    width: 15%;
}

.col-add {
    width: 10%;
    text-align: center;
}

.col-remove {
    width: 10%;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding-left: 20px;
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #18242279;
}


form input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #18242279;
}

select {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #18242279;
}

form button {
    font-size: 15px;
    background-color: #182422;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

form {
    margin-left: 30px;
}


label {
    font-size: small;
    font-weight: 600;
    color: rgb(59, 59, 59);
}

.form-textbox {
    padding-left: 10px;
}


.pos-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ededed60;

}

.pos-item div {
    width: 200px;

}

.pos-item input {
    width: 40px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;

}

.proceed {
    transition: all 0.5s;
    background-color: #008f37;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.proceed:hover {
    cursor: pointer;
    background-color: #004c25;
}

.button {
    left: 20px;
    box-sizing: border-box;
    /* position: absolute; */
    bottom: 20px;
    right: 20px;
}

.payment {position: absolute;top: 50%;visibility: hidden;left: 50%;transform: translate(-50%, -50%);width: 50vw;/* background-color: rgb(255, 255, 255); */height: 50vh;color: white;border-radius: 10px;}

.blur {position: absolute;visibility: hidden;width: 100vw;background-color: rgba(0, 0, 0, 0.104);height: 100vh;backdrop-filter: blur(25px) grayscale(1) brightness(0.2);}

.open-popup {
    visibility: visible;
}

.paybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008f37;
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}


/* End of Point of Sales */

/* Inventory Page */

/*.inventory-body {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.inventory-data {
    /*    background-color: white;*/
    width: 80% !important;
    /*    border-radius: 12px;*/
    /*    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.05);*/
    /*    margin-bottom: 20px;*/
    /*    padding: 30px;*/
    /*    padding-top: 30px;*/
    /*    transition: all 0.2s ease;*/
}

/*.inventory-data table {*/
/*    box-sizing: border-box;*/
/*    text-align: left;*/
/*    width: 100%;*/
/*    border-collapse: separate;*/
/*    border-spacing: 0px 15px;*/
/*    overflow: visible;*/
/*    display: block;*/
/*}*/

/*.inventory-data tr {*/

/*    border-radius: 5px;*/
/*    min-width: -webkit-fill-available;*/
/*    display: table;*/
/*    border-bottom: 1px solid #ededed;*/

/*}*/

/*.inventory-data thead {*/
/*    display: table;*/
/*    width: 100%;*/
/*}*/

/*.inventory-data tbody {*/
/*    height: 65vh;*/
/*    overflow: auto;*/
/*    display: block;*/
/*}*/

/*.inventory-body .sec2 {*/
/*    width: 100%;*/
/*    height: 90vh;*/
/*    justify-items: center;*/
/*    align-items: center;*/
/*}*/

/*.inventory-data .col-id{*/
/*    width: 15%;*/
/*}*/
/*.inventory-data
.col-name{
    width: 20%;
}

/* Cashier POS */

.col-name {
    text-align: center;
    width: 20%;
}

.details-overlay {
    visibility: hidden;
    height: auto;
    width: 50vw;
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.38);
    border-radius: 15px;
}


.details-input {
    padding: 30px;
}

.details-input form {
    display: flex;
    margin-left: 0;
    flex-direction: column;
}

.details-input input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    font-size: 20px;
    padding: 15px;
}

.details-input textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
    font-size: 20px;
    padding: 15px;
}

.details-input label {
    font-size: 15px;

}

.new-order-button {
    background-color: #008f37;
    color: white;
    /* margin-left: 30px; */
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 0.9rem;
}

.clrbtn {
    font-family: 'Rubik';
    background-color: #008f37;
    color: white;
    /* margin-left: 30px; */
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 0.9rem;
}

.details-input form button {}

#message-overlay {
    transition: all 0.5s ease;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 80px;
    z-index: 990;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 45px 14px rgba(0, 0, 0, 0.3);
    ;

    padding: 20px;
    background-color: #ffffff;
}

.order-history-overlay {
    display: none;
    height: auto;
    width: 50vw;
    padding: 30px;

    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.38);
    border-radius: 15px;
}

.total_price {
    right: 25px;
    bottom: 115px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.subtotal_price {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.discounts-view {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.bill-table {
    color: white;
    width: 100%;
    /* height: 100%; */
    border: 1px solid #6a6a6a;
    border-radius: 15px;
    margin-top: 20px;
    flex: 1;
    margin-bottom: 20px;
}

.bill-table tbody {
    overflow: scroll;
    display: block;
    height: 43vh;
}

.bill-table thead td p {
    display: table;
    width: 100%;
    color: white !important;
}

.promo-code-button {
    background-color: #008f37;
    color: white;
    /* margin-left: 30px; */
    /* margin-bottom: 10px; */
    border-radius: 5px;
    border: 0;
    width: auto;
    padding-left: 10px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    padding-right: 10px;
}

.bill-table th,
td {
    padding: 10px;
    text-align: center;
}

.bill-table .headercol {
    color: white;
}

.col-date {
    width: 30%;
    text-align: center;
}

.shippingcost-view {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subprices {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    right: 0;
    left: 0;
    bottom: 170px;
}

hr {
    border: 0.2px solid #00000046;
}

.all-prices {
    margin-bottom: 20px;
    background-color: white;
    color: #222;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* position: absolute;
    bottom: 100px;
    left: 20px;
    right: 20px ; */
}